training_examples.json
[
  {
    "prompt": "Send an email when a new row is added to Google Sheets",
    "workflow": {
      "nodes": [
        {
          "name": "Google Sheets Trigger",
          "type": "n8n-nodes-base.googleSheetsTrigger",
          "position": [250, 300],
          "parameters": {
            "event": "rowAdded",
            "triggerOn": "specificSheet"
          },
          "typeVersion": 1
        },
        {
          "name": "Gmail",
          "type": "n8n-nodes-base.gmail",
          "position": [450, 300],
          "parameters": {
            "operation": "send",
            "resource": "message",
            "subject": "New row added",
            "message": "A new row was added to the sheet"
          },
          "typeVersion": 1
        }
      ],
      "connections": {
        "Google Sheets Trigger": {
          "main": [[{"node": "Gmail", "type": "main", "index": 0}]]
        }
      }
    }
  },
  {
    "prompt": "Create a Trello card when I receive an email",
    "workflow": {
      "nodes": [
        {
          "name": "Gmail Trigger",
          "type": "n8n-nodes-base.gmailTrigger",
          "position": [250, 300],
          "parameters": {},
          "typeVersion": 1
        },
        {
          "name": "Trello",
          "type": "n8n-nodes-base.trello",
          "position": [450, 300],
          "parameters": {
            "operation": "create",
            "resource": "card",
            "name": "={{$json.subject}}",
            "description": "={{$json.text}}"
          },
          "typeVersion": 1
        }
      ],
      "connections": {
        "Gmail Trigger": {
          "main": [[{"node": "Trello", "type": "main", "index": 0}]]
        }
      }
    }
  },
  {
    "prompt": "Post to Slack every day at 9am",
    "workflow": {
      "nodes": [
        {
          "name": "Schedule Trigger",
          "type": "n8n-nodes-base.scheduleTrigger",
          "position": [250, 300],
          "parameters": {
            "rule": {
              "interval": [{"field": "hours", "hoursInterval": 24}]
            },
            "triggerTimes": {"item": [{"hour": 9, "minute": 0}]}
          },
          "typeVersion": 1
        },
        {
          "name": "Slack",
          "type": "n8n-nodes-base.slack",
          "position": [450, 300],
          "parameters": {
            "operation": "post",
            "resource": "message",
            "text": "Good morning! This is your daily reminder."
          },
          "typeVersion": 1
        }
      ],
      "connections": {
        "Schedule Trigger": {
          "main": [[{"node": "Slack", "type": "main", "index": 0}]]
        }
      }
    }
  },
  {
    "prompt": "Save webhook data to Airtable",
    "workflow": {
      "nodes": [
        {
          "name": "Webhook",
          "type": "n8n-nodes-base.webhook",
          "position": [250, 300],
          "parameters": {
            "path": "webhook-data",
            "responseMode": "lastNode"
          },
          "typeVersion": 1
        },
        {
          "name": "Airtable",
          "type": "n8n-nodes-base.airtable",
          "position": [450, 300],
          "parameters": {
            "operation": "create",
            "resource": "row"
          },
          "typeVersion": 1
        }
      ],
      "connections": {
        "Webhook": {
          "main": [[{"node": "Airtable", "type": "main", "index": 0}]]
        }
      }
    }
  },
  {
    "prompt": "Send a Discord message when a new GitHub issue is created",
    "workflow": {
      "nodes": [
        {
          "name": "GitHub Trigger",
          "type": "n8n-nodes-base.githubTrigger",
          "position": [250, 300],
          "parameters": {
            "events": ["issues"],
            "owner": "",
            "repository": ""
          },
          "typeVersion": 1
        },
        {
          "name": "Discord",
          "type": "n8n-nodes-base.discord",
          "position": [450, 300],
          "parameters": {
            "resource": "message",
            "operation": "send",
            "text": "New GitHub issue: {{$json.issue.title}}"
          },
          "typeVersion": 1
        }
      ],
      "connections": {
        "GitHub Trigger": {
          "main": [[{"node": "Discord", "type": "main", "index": 0}]]
        }
      }
    }
  }
]
